body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(61.84deg, #294899 20.97%, #2A4999 26.74%, #4DB79C 72.9%, #4DB79C 78.67%);
    margin: 0;
    padding: 0;
}

.container {
    width: 850px;
    height: 625px;
    margin: 20px  auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    background-image: url("images/signup.png");
}


.p{
    height: 100%;
    width: 60%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    background-color: pink;
    
}

.box{
    width: 50%;
    height: 91%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 60px;
    border-radius: 15px;

}

#registrationform {
    width: 50%;
    background-color:rgb(18, 46, 160);
    
   
}

form {
    display: grid;
    gap: 10px;
}

label {
    display: block;
    margin-bottom: -5px;
    position: relative;
    left: 8%;
}

input,
select {
    width: 80%;
    padding: 8px;
    margin-left: 30px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

button {
    background-color: #37c7a3;
    color: #fff;
    width: 200px;
    padding: 20px;
    margin-left: 125px;
    margin-right: 70px;
    margin-top: 7px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color:#13b88f;
}
 div img{
     position:absolute ;
     top: 0px;
     right: 460px;
     height: 200;

 }
 a{
    color: #13b88f;
    position: absolute;
    top: 90%;
    left: 35px;
    
 }